*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
body{
background-color: #94b4a4;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
overflow-x: none;
min-width: 100%;
}

html{
  font-size: 16px;
}

@media(max-width:290px){
  html{
    font-size: 12px;
  }
}
@media(max-width:220px){
  html{
    font-size: 9px;
  }
}
@media(max-width:170px){
  html{
    font-size: 7px;
  }
}
.container{
  min-width: 100%;
}

h3{
  font-size: 1.1rem;
}
.ratio {
  display: grid;

  & > * {
    grid-area: 1/1;
  }
}

.profilePostsMarginRight{
  margin-right: -240px !important;
  @media screen and (max-width: 992px) {
    margin-right: -15px !important;
  }
}


.paddingLeftImportant{
  padding-left: 0  !important;
}

.pagination {
  padding-top: 3.125rem;
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}
.pagination a {
  display: flex;
  flex-wrap: wrap;
  padding:0.13rem 0.5rem;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link__active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link__disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}






