$secondary: #000;
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
body{
font-size: .8rem;
background-color: #94b4a4;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
overflow-x: hidden;
min-width: 100%;
}
.container{
  min-width: 100%;
}
.pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  display: flex;
  flex-wrap: wrap;
  padding:3px 10px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

h3{
  font-size: 1.1rem;
}

.spinner-round{
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratio {
  display: grid;
  & > * {
    grid-area: 1/1;
  }
}




.col-sort-buttons{
  padding-right: 25.5vw;
  flex-wrap: wrap;
}

.sort-buttons{
  height: 5vh;
}