*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}
body{
background-color: #94b4a4;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
overflow-x: none;
min-width: 100%;
}

html{
  font-size: 16px;
}

@media(max-width:290px){
  html{
    font-size: 12px;
  }
}
@media(max-width:220px){
  html{
    font-size: 9px;
  }
}
@media(max-width:170px){
  html{
    font-size: 7px;
  }
}
.container{
  min-width: 100%;
}

h3{
  font-size: 1.1rem;
}
.ratio {
  display: grid;
  & > * {
    grid-area: 1/1;
  }
}













