.col_sort_buttons{
    padding-right: 25.5vw;
    flex-wrap: wrap;
  }
  .col_sort_buttons_for_profile{
    padding-right: 13.5vw;
    flex-wrap: wrap;
  }
  
  .sort_buttons{
    height: 2.2rem;
    // display: block;
  }

@media(max-width:335px){
  .col_sort_buttons{
    padding-right: 25.5vw;
    flex-direction:  column;
  }
  
}