  .login{
    position: relative;
    top: 100%;
    width: 18rem;
    height: 20rem;
    display: table;
    margin: auto;
    background: #fff;
    border-radius: 4px;
  }
  
  .legend{
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    background: grey;
    padding: 0.9375rem;
    color: #fff;
    font-size: 1.25rem;
    
    &:after{
      content: "";
      opacity: 0.04;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
  
  .input{
    position: relative;
    width: 90%;
    margin: 0.9375rem auto;
    
    span{
      position: absolute;
      display: block;
      color: darken(#EDEDED, 10%);
      left: 0.625rem;
      top: 0.5rem;
      font-size: 1.25rem;
      transition: all .4s;
    }
    
    input{
      width: 100%;
      padding: 0.625rem 0.3125rem 0.625rem 2.5rem;
      display: block;
      border: 1px solid #EDEDED;
      border-radius: 4px;
      transition: 0.2s ease-out;
      color: darken(#EDEDED, 30%);
      
      &:focus{
        padding: 0.625rem 0.3125rem 0.625rem 0.625rem;
        outline: 0;
        border-color: #FF7052;
      }
    }
  }
  
  .submit{
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    margin: 0 auto -0.9375rem auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #FF7052;
    color: #FF7052;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;
    
    &:hover, &:focus{
      background: #FF7052;
      color: #fff;
      outline: 0;
    }
  }
  
  .feedback{
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 12px;
    display: none;
    opacity: 0;
    transition: all .4s;
    
    &:before{
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(46, 204, 113, 0);
      border-bottom-color: #2ecc71;
      border-width: 10px;
      margin-left: -10px;
      
    }
  }